/* responsive css for mobile  */
@media screen and (max-width:425px) {
    /* navigation responsive css  */
    nav {
        flex-direction: column;
        padding: 30px 20px;
    }
    .menu {
        flex-direction: column;
    }
    .menu ul li {
        display: block;
        margin: 15px 0px;
    }
    /* banner responsive css  */
    .banner {
        padding: 0px 40px;
        background-color: #fff;
        background: inherit;
        background-repeat:inherit;
        background-position: inherit;
        flex-direction: column-reverse;
    }
    .banner-heading, .banner-img{
        width: 100%;
    }
    .banner-heading {
        background: url(images/Group\ 14.png) no-repeat right center;
        background-size: cover;
        padding: 70px 30px;
        box-sizing: border-box;
    }
    .banner-heading p {
        font-size: 1rem;
    }
    .banner-heading div {
       margin-top: 20px;
    }
    /* we are gamer section  */
    .we-are-gamer {
        padding: 15px 30px;
        flex-direction: column;
    }
    .gamer-img {
        width: 100%;
    }
    .gamer-text {
        width: 100%;
        text-align: center;
    }
}
/* responsive css for tablet  */
@media screen and (max-width:768px) {
    /* navigation responsive css  */
    nav {
        padding: 30px 20px;
    }
    .logo h1{
        font-size: 1.81rem;
    }
    .menu ul li a {
        font-size: 1rem;
        padding: 0px 9px;
    }
    /* banner responsive css  */
    .banner {
        padding: 0px 30px;
    }
    .banner-heading h3 {
        font-size: 3rem;
    }
    .banner-heading h2 {
        font-size: 1.50rem;
    }
    /* we are gamer section  */
    .we-are-gamer {
        padding: 50px 20px;
        flex-direction: column-reverse;
    }
    .gamer-img{
        width: 100%;
    }
    .gamer-text{
        width: 100%;
        text-align: justify;
    }
}