/* responsive css for mobile  */
@media screen and (max-width:425px) {
    /* navigation responsive css  */
    body {
        padding: 0px 27px;
    }
    nav {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
    }
    .menu ul li {
        display: block;
        margin: 15px 0px;
    }
}
/* responsive css for tablet  */
@media screen and (max-width:768px) {
    /* navigation responsive css  */
    body {
        padding: 0px 20px;
    }
    .logo h1{
        font-size: 1.81rem;
    }
    .menu ul li a {
        font-size: 1rem;
        padding: 0px 9px;
    }
}